#root {
    /* height: calc(100vh);
    overflow-y: hidden; */
}

#mainContent {
    /* margin-Top: 3em; */
    padding-top: 3em;
    /* height: calc(100vh - 3em); */
    height: calc(100vh);
    /* border: 1px solid red */
}

#app {
    height: calc(100vh);
    overflow-y: hidden;
}

#reportApp {

}

.themeDropdown {
    /* border: 1px solid red;
    background-color: cyan; */
}

/* menuitem of theme */
.themeItem {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.theme-dropdown-dark {
    background-color: #333;
    color: white;
}