body {
    background-color: blanchedalmond
}

.navbar-brand {
    color: white
}

#myNavbar {
    justify-content: normal 
}

.navbar-dark .navbar-nav .nav-link {
color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: yellow;
    }

h3 {
    text-align: center;
}

.form-group label {
    font-weight: 600;
}